// Light background parent module
.light-container {
	padding: 0 0 10em;
	background: $bgLightGray;
	.intro {
		padding: 180px 0 0;
		text-align: center;
		max-width: 360px;
		font-weight: 300;
		margin: 0 auto;
		p {
			color: $fgDarkGray;
			line-height: 24px;
			margin: 0 0 50px;
		}
	}
	.checkboxes, .radiobuttons {
		label {
			color: $black;
			font-weight: 500;
		}
	}
	.label-active {
		color: $fgDarkGray;
	}
	input[type=text], textarea, select {
		border: 1px solid $fgLightGray;
		&:hover, &:focus {
			border-bottom: 4px solid;
			border-color: $fgDarkBlue;
		}
	}
	.box span, .radio span {
		border:1px solid $fgLightGray;
	}
	select:hover, select:focus {
		height: 56px;
	}
	.single-column {
		h1, .headline h1 {
			color: $black;
		}
		.headline-static {
			h1 {
				color: $black;
			}
		}
		p {
			color: $fgDarkGray;
		}
		h2 {
			color: $black;
		}
		.l-snippet, .r-snippet {
			background: $bgDarkGray;
			color: $fgLightGray;
		}
		.quote {
			.author {
				color: $fgLightGray;
			}
		}
	}
	.comments {
		color: $black;
		h2 {
			font-size: 40px;
			font-weight: 300;
			margin-top: 0;
			text-align: center;
		}
		a {
			color: $fgMidGray;
			&:hover {
				color: $fgDarkGray;
			}
			&:after {
				background: $fgDarkBlue;
			}
		}
	}
	.top-posts {
		h2 {
			color: $black;
		}
		.post:hover > .details p {
			color: $fgDarkGray;
		}
	}
	.archives {
		h2 {
			color: $black;
		}
		ul li {
			border-top: 1px solid $fgLightGray;
		}
		ul li:first-child {
			border-top: 4px solid $fgMidGray;
		}
		h3, p {
			color: $fgDarkGray;
		}
		.details {
			color: $fgMidGray;
			&:before {
				color: $fgLightGray;
			}
		}
		a {
			color: $black;
			&:hover {
				color: $fgDarkBlue;
			}
		}
		.blue {
			color: $fgDarkBlue;
			&:hover {
				color: $white;
			}
		}
	}
}
