// Light background parent module
.light-container {
	padding: 0 0 10em;
	background: $bgLightGray;
	.intro {
		padding: 8em 0 0;
		text-align: left;
		width: 70%;
		font-weight: 300;
		margin: 0 auto;
		p {
			color: $fgDarkGray;
			line-height: 30px;
			margin: 3em 0 5em;
			max-width: 444px;
		}
		.p-small {
			display: block;
		}
		.p-small + .p-small {
			margin-top: 0;
		}
		.p-small, .p-small a {
			font-size: 13px;
			text-transform: uppercase;
			font-weight: 400;
			letter-spacing: 1px;
			color: $fgMidGray;
			border-color: $fgMidGray;
			margin-right: 1em;
			margin-top: 1.5em;
		}
		a {
			color: $fgDarkGray;
			text-decoration: none;
			position: relative;

			&:before,
			&:after {
				content: '';
				position: absolute;
				bottom: 1px;
				left: auto;
				width: 0;
				height: 1px;
				background: $fgMidGray;
				transition: all .3s ease-out;
			}

			&:before {
				right: 0;
			}

			&:after {
				right: 50%;
			}

			&:hover:before,
			&:hover:after {
				width: 50%;
				right: auto;
			}

			&:hover:before {
				left: 0;
			}

			&:hover:after {
				left: 50%;
			}
		}
	}
	.checkboxes, .radiobuttons {
		label {
			color: $black;
			font-weight: 500;
		}
	}
	.label-active {
		color: $fgDarkGray;
	}
	input[type=text], textarea, select {
		border: 1px solid $fgLightGray;
		&:hover, &:focus {
			border-bottom: 4px solid;
			border-color: $fgDarkBlue;
		}
	}
	.box span, .radio span {
		border:1px solid $fgLightGray;
	}
	select:hover, select:focus {
		height: 56px;
	}
	.single-column {
		h1, .headline h1 {
			color: $black;
		}
		.headline-static {
			h1 {
				color: $black;
			}
		}
		p {
			color: $fgDarkGray;
		}
		h2 {
			color: $black;
		}
		.l-snippet, .r-snippet {
			background: $bgDarkGray;
			color: $fgLightGray;
		}
		.quote {
			.author {
				color: $fgLightGray;
			}
		}
	}
	.comments {
		color: $black;
		h2 {
			font-size: 40px;
			font-weight: 300;
			margin-top: 0;
			text-align: center;
		}
		a {
			color: $fgMidGray;
			&:hover {
				color: $fgDarkGray;
			}
			&:after {
				background: $fgDarkBlue;
			}
		}
	}
	.top-posts {
		h2 {
			color: $black;
		}
		.post:hover > .details p {
			color: $fgDarkGray;
		}
	}
	.archives {
		h2 {
			color: $black;
		}
		ul li {
			border-top: 1px solid $fgLightGray;
		}
		ul li:first-child {
			border-top: 4px solid $fgMidGray;
		}
		h3, p {
			color: $fgDarkGray;
		}
		.details {
			color: $fgMidGray;
			&:before {
				color: $fgLightGray;
			}
		}
		a {
			color: $black;
			&:hover {
				color: $fgDarkBlue;
			}
		}
		.blue {
			color: $fgDarkBlue;
			&:hover {
				color: $white;
			}
		}
	}
}
