#hero {
	background: url('../../assets/img/hero-lg.jpg') top center no-repeat;
	background-size: cover;
	background-attachment: scroll;
	height: inherit;
	width: 100%;
	button {
		height: 54px;
	}
	.overlay {
		background: $bgThemeBlack;
		height: inherit;
		width: inherit;
		position: relative;
		top: 0;
		left: 0;
		opacity: 0.8;
	}
	.inside {
		position: absolute;
		top: calc(50% - 100px);
		max-width: 400px;
		left: calc(50% - 200px);
		color: $white;
		text-align: center;
		h2 {
			margin-bottom: 50px;
			font-weight: 100;
			font-size: 30px;
			letter-spacing: 0px;
			color: $white;
		}
		strong {
			font-size: 55px;
			font-weight: bold;
			display: block;
			margin-bottom: 10px;
		}
	}
}
