.single-column, .comments {
	position: relative;
	max-width: 800px;
	padding: 0 2em;
	margin: 0 auto;
	text-align: center;
	h1, .headline h1 {
		color: $white;
		margin: 2.5em 0 1em;
		text-align: center;
		font-weight: bold;
		@include transition(all, 0.2s, ease-in-out);
	}
	.byline, .headline .byline {
		position: relative;
		display: block;
		top: -0.8em;
		margin: 0 auto;
		padding: 0 5em 1em;
		color: $fgDarkBlue;
		font-size: 20px;
		font-weight: 100;
		text-align: center;
		@include transition(all, 0.2s, ease-in-out);
		&:before {
			content: $font-dh-icons-quill;
			position: relative;
			top: -0.1em;
			right: 0.5em;
			font-family: "dh-icons";
			font-size: 14px;
		}
	}
	.headline {
		width: 100%;
		left: 0;
		margin: 0 auto;
	}
	.headline-color-change {
		h1 {
			color: $black;
		}
		.byline {
			color: $fgDarkBlue;
		}
	}
	h2 {
		font-weight: 300;
		font-size: 26px;
		margin: 3em 3em 1em;
	}
	p {
		padding: 0 5em;
		text-align: left;
		font-weight: 300;
		line-height: 30px;
		margin-bottom: 2em;
	}
	.image {
		position: relative;
		display: inline-block;
		padding: 1em;
		max-width: 100%;
		border:1px solid $fgLightGray;
		overflow: hidden;
		img {
			max-width: 100%;
		}
		i {
			position: absolute;
			bottom: 0;
			left: 0;
			width: calc(100% - 2em);
			padding: 2em 1em;
			font-style: normal;
			text-align: center;
			font-size: 12px;
			font-weight: 100;
			color: $fgMidGray;
			background: $bgLightGray;
		}
	}
	.left {
		float: left;
		left: -2em;
		margin-right: auto;
	}
	.right {
		float: right;
		margin-left: auto;
		right: -2em;
	}
	.l-snippet, .r-snippet {
		position: relative;
		display: block;
		padding: 2em;
		font-size: 20px;
		line-height: 40px;
		margin: 2em 0;
	}
	.l-snippet {
		right: 1.6em;
	}
	.r-snippet {
		left: 1.6em;
	}
	.quote {
		display: block;
		margin: 1.5em 0;
		padding: 0;
		font-size: 30px;
		font-style: italic;
		.inner {
			width: 100%;
			display: block;
			text-align: center;
			.author {
				display: block;
				width: 100%;
				margin: 1em 0 0;
				font-size: 14px;
			}
		}
	}
	.article-bottom {
		border-top: 1px solid $fgLightGray;
		position: relative;
		padding: 1em 5em;
		margin: 7em 0 0;
		font-size: 14px;
		color: $fgLightGray;
		span {
			display: inline;
			text-align: left;
			font-size: 16px;
			font-weight: 100;
			padding-top: 1em;
			line-height: 24px;
			font-size: 14px;
		}
		.info {
			padding: 0.4em 0 0;
			display: block;
			min-width: 100px;
			width: calc(100% - 130px);
			text-align: left;
			.quill {
				position: relative;
				margin-left: -1em;
				margin-right: 1em;
				left: 1em;
				&:before {
					position: relative;
					right: 0.4em;
					content: $font-dh-icons-quill;
					font-family: "dh-icons";
				}
			}
			.byline {
				color: $fgMidGray;
				padding: 0;
				top: 0;
				&:before {
					content: '';
				}
			}
			.publish-date {
				color: $fgMidGray;
				margin: 0;
				padding: 0;
			}
		}
		.tags {
			min-width: 100px;
			max-width: 300px;
			margin: 1em 0 0;
			text-align: left;
			span a {
				display: inline-block;
				border:1px solid $fgLightGray;
				padding: 0.05em 0.5em;
				margin: 0.45em 0.2em;
				text-decoration: none;
				color: $fgMidGray;
				font-size: 12px;
				@include border-radius(1em);
				@include transition(all, 0.2s, ease-in-out);
				&:hover {
					border:1px solid $fgMidGray;
					background: $fgLightGray;
					color: $fgDarkGray;
				}
			}
		}
		.social {
			position: absolute;
			max-width: 100px;
			right: 5em;
			top: 0;
			padding: 1.4em 0 0;
			span {
				padding: 1em 0 0;
				cursor: pointer;
				color: $fgMidGray;
				@include transition(all, 0.2s, ease-in-out);
				&:hover {
					color: $fgDarkBlue;
				}
				&:before {
					font-family: "dh-icons";
					font-weight: 100;
					padding: 0 0.4em;
				}
			}
			.twitter:before {
				content: $font-dh-icons-twitter;
			}
			.facebook:before {
				content: $font-dh-icons-facebook;
			}
			.google:before {
				content: $font-dh-icons-g-plus;
			}
		}
	}
}
.comments {
	padding: 10em 5em;
	h2 {
		margin: 3em 0 1em;
	}
}
