.top-posts {
	position: relative;
	height: auto;
	width: calc(100% - 4em);
	max-width: 1400px;
	margin: 0 auto;
	padding: 0;
	h2 {
		padding: 4em 2em 1em;
		margin: 0 auto;
		text-align: center;
	}
	.post {
		cursor: pointer;
		position: relative;
		float: none;
		width: auto;
		max-width: 600px;
		height: auto;
		margin: 0 auto;
		&:after {
			display: block;
			padding-top: 0;
			margin-top: 0;
			content: '';
		}
		&:hover > .details h3 {
			color: $fgDarkBlue;
		}
		&:hover > .image img {
			top: -0.12em;
			left: -0.12em;
			width: 102%;
			-webkit-filter: grayscale(1);
			filter: grayscale(1);
		}
		.image {
			display: block;
			max-height: 300px;
			margin-top: 2em;
			overflow: hidden;
			img {
				position: relative;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				@include transition(all, 0.1s, ease-in-out);
			}
		}
		.details {
			position: relative;
			display: block;
			margin: 0 0 6em;
			background: $bgDarkGray;
			width: calc(100% - 2em);
			padding: 1em;
			text-align: center;
			h3 {
				margin: 0.5em 0 0;
				font-size: 24px;
				color: $fgMidGray;
				@include transition(all, 0.2s, ease-in-out);
			}
			p {
				position: relative;
				font-size: 14px;
				color: $fgMidGray;
				@include transition(all, 0.2s, ease-in-out);
			}
		}
	}
}
