// Color Variables

// Neutral
$white: #fff; // White
$black: #000; // Black

// Foreground
$fgMainText: #1b201f; // Deep gray
$fgLightBlue: #24acc8; // Light turqoise
$fgLightBlue50: rgba(36,172,200,0.5); // Light turqoise @ 50% opacity
$fgLighterBlue: #9ee5f1; // Super light turquoise
$fgDarkBlue: #009aba; // Dark turqoise
$fgDarkerBlue: #0a8199; // Darker turqoise
$fgDarkGreen: #72990a; // Dark green
$fgDarkGray: #787878; // Dark gray (fg)
$fgMidGray: #a5a5a5; // Mid gray (fg)
$fgLightGray: #d1d1d1; // Light gray (fg)

// Background
$bgMain: #f0f0f0; // Light gray (bg)
$bgThemeBlack: #1b201f; // Theme-black
$bgThemeBlack50: rgba(11, 11, 11, 0.7); // Theme-black @50% opacity
$bgBlueGray: #45484d; // Blue-gray
$bgDarkGray: #2c2c2c; // Dark gray (bg)
$bgMidGray: #d2d2d2; // Mid gray (bg)
$bgLightGray: #f0f0f0; // Light gray (bg)


// NEW COLORS 2018
$deepForestGreen: #001e12;
$forestGreen: #006633;
