<html>
    <head>
        <meta charset='utf-8'>
        <title>{% if page.title %}{{ page.title }} - {% endif %}Brad Fowles Art</title>
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        {{ content }}
        <nav>
            {% assign menu = site.menus.header %}
            {% include menus.html %}
        </nav>
    </body>
</html>