<html>
    <head>
        <meta charset='utf-8'>
        <title>{% if page.title %}{{ page.title }} - {% endif %}Brad Fowles Art</title>
        <link rel="stylesheet" href="assets/css/style.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    </head>
    <body>
        {{ content }}

        <!-- navigation (topbar) -->
        <nav id="navigation">
            <div class="phantom-logo"></div>
            <div class="logo"><img src="assets/img/logo.svg" /></div>
            <div class="nav-container">
                <div class="menu-overlay"></div>
                <div class="hamburger o-white ham">
                    <div class="span-container sc-1">
                        <span class="top"></span>
                        <span class="bot"></span>
                    </div>
                    <div class="span-container sc-2">
                        <span class="top"></span>
                        <span class="bot"></span>
                    </div>
                    <div class="span-container sc-3">
                        <span class="top"></span>
                        <span class="bot"></span>
                    </div>
                </div>
                {% assign menu = site.menus.header %}
                {% include menus.html %}
            </div>
        </nav>
    </body>
</html>