@import url(//fonts.googleapis.com/css?family=Roboto:400,300,700,900,500);
html, body, button { margin: 0px; padding: 0px; }
body {
	font-family: "Roboto", sans-serif;
	letter-spacing: 0px;
	color: $fgMainText;
	background: $bgMain;
}
h1, h2, h3, h4, h5 {
	margin: 0 0 30px;
	font-weight: 300;

	+ p {
		margin-top: .5em;
	}
}

h1, h2 {
	font-size: 40px;
}

h2,
h3 {
	font-size: em(30, 19);
}

h4 {
	font-weight: bold;
}

select,
textarea {
	background: $white;
	border: none;
	border-radius: 5px;
	font-size: 1em;
	padding: .8em 1em .7em;

	&:focus {
		outline: none;
	}
}

select {
	line-height: 2.9em;
	height: 2.9em;
	border: .05em solid;
	// select boxes (in Chrome/Safari) can't have opaque borders. There's an automatic white fill behind them.

	&:-moz-focusring {
		// Remove weird outline from Firefox
		color: transparent;
		text-shadow: 0 0 0 $black;
	}
}

button, input[type=submit] {
	outline: none;
}

html,
body {
	height:100%;

}

.full-hero {
	position: relative;
	background-attachment: scroll;
	height: 500px;
	overflow: hidden;
	top: 0;
	text-align: center;
	img {
		width: 100%;
	}
}
.partial-hero {
	position: relative;
	height: 500px;
	top: 5em;
	padding: 0 5em;
	max-height: 500px;
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	img {
		width: 100%;
		height: auto;
		margin: 2em 0;
	}
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
