//
// Icon Font: dh-icons
//

@font-face {
  font-family: "dh-icons";
  src: url("fonts/dh-icons.eot");
  src: url("fonts/dh-icons.eot?#iefix") format("embedded-opentype"),
       url("fonts/dh-icons.woff") format("woff"),
       url("fonts/dh-icons.ttf") format("truetype"),
       url("fonts/dh-icons.svg#dh-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "dh-icons";
    src: url("fonts/dh-icons.svg#dh-icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-bike:before,
.icon-comments:before,
.icon-dribbble:before,
.icon-facebook:before,
.icon-g-plus:before,
.icon-github:before,
.icon-heart:before,
.icon-instagram:before,
.icon-pinterest:before,
.icon-quill:before,
.icon-tumblr:before,
.icon-twitter:before,
.icon-youtube:before {
  display: inline-block;
  font-family: "dh-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-bike:before { content: "\f10c"; }
.icon-comments:before { content: "\f101"; }
.icon-dribbble:before { content: "\f108"; }
.icon-facebook:before { content: "\f105"; }
.icon-g-plus:before { content: "\f104"; }
.icon-github:before { content: "\f10a"; }
.icon-heart:before { content: "\f100"; }
.icon-instagram:before { content: "\f102"; }
.icon-pinterest:before { content: "\f109"; }
.icon-quill:before { content: "\f10b"; }
.icon-tumblr:before { content: "\f107"; }
.icon-twitter:before { content: "\f106"; }
.icon-youtube:before { content: "\f103"; }

$font-dh-icons-bike: "\f10c";
$font-dh-icons-comments: "\f101";
$font-dh-icons-dribbble: "\f108";
$font-dh-icons-facebook: "\f105";
$font-dh-icons-g-plus: "\f104";
$font-dh-icons-github: "\f10a";
$font-dh-icons-heart: "\f100";
$font-dh-icons-instagram: "\f102";
$font-dh-icons-pinterest: "\f109";
$font-dh-icons-quill: "\f10b";
$font-dh-icons-tumblr: "\f107";
$font-dh-icons-twitter: "\f106";
$font-dh-icons-youtube: "\f103";
