#footer {
	padding-top: 5em;
	.footer {
		padding: 0 3.5em 0 1.75em;
		ul {
			width: 100%;
			display: inline-block;
			padding: 1em;
			margin: 0 0 3em auto;
			text-size: 16px;
			font-weight: 100;
			li {
				list-style: none;
				padding: 0;
				margin: 0;
				text-align: center;
				line-height: 26px;
				a {
					display: block;
					color: $fgDarkGray;
					text-decoration: none;
					@include transition(all, 0.2s, ease-in-out);
					&:hover {
						color: $fgDarkBlue;
						text-decoration: underline;
					}
				}
				.input {
					position: relative;
					&:hover .find {
						color: $fgDarkGray;
					}
				}
				input {
					padding: 1em;
					margin: 1.8em 0;
					font-size: 16px;
				}
				label {
					padding: 1em;
					padding-top: 2.6em;
					font-size: 16px;
					font-weight: 100;
				}
				.label-active {
					padding-top: 1.2em;
					color: $black;
					font-weight: 700;
				}
				&:first-child {
					text-size: 20px;
					font-weight: 700;
					margin-bottom: 1em;
				}
			}
		}
	}
	.social {
		margin: 3em 0 0;
		padding: 0 3em;
		text-align: center;
		span {
			display: inline-block;
			width: 60px;
			height: 50px;
			font-size: 25px;
			cursor: pointer;
			opacity: 0.5;
			@include transition(all, 0.3s, ease-in-out);
			&:hover {
				opacity: 1;
				color: $fgDarkBlue;
			}
		}
	}
}
